@charset "UTF-8";

:root{
    --cor1: #ffffff;
    --cor2: #faa307;
    --cor3: #6a040f;
    --cor4:#370617;
}

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: var(--cor3);
            color: white;
            text-align: center;
            padding: 10px;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: var(--cor4);
        }

        nav a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
            font-weight: bolder;
        }

        nav a:hover {
            background-color: var(--cor2);
        }

        section {
            padding: 20px;
            margin: 10px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        footer {
            background-color: var(--cor3);
            color: white;
            text-align: center;
            width: auto;
            padding: 5px;
            width: 100%;
            box-sizing: border-box;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input, textarea {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }

        button {
            background-color: var(--cor4);
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: var(--cor2);
        }

        .contact-info {
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
            margin-bottom: 100px;
            padding: 0px;
            text-indent: 10px;
          
        }

        .info-item {
            width: 45%;
            margin-bottom: 20px;
        }
   